<a href="https://colab.research.google.com/github/srinivasareddylella/OIBSIP-TASK-2/blob/main/Untitled30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline
import time

In [ ]:
df=pd.read_csv("Unemployment in India.csv")
df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,Monthly,3.65,11999139,43.24,Rural
1,Andhra Pradesh,30-06-2019,Monthly,3.05,11755881,42.05,Rural
2,Andhra Pradesh,31-07-2019,Monthly,3.75,12086707,43.50,Rural
3,Andhra Pradesh,31-08-2019,Monthly,3.32,12285693,43.97,Rural
4,Andhra Pradesh,30-09-2019,Monthly,5.17,12256762,44.68,Rural
...,...,...,...,...,...,...,...
244,Punjab,30-06-2019,Monthly,12.21,6025235,45.79,Rural
245,Punjab,31-07-2019,Monthly,9.64,6308129,46.50,Rural
246,Punjab,31-08-2019,Monthly,6.69,6183427,44.08,Rural
247,Punjab,30-09-2019,Monthly,8.59,6260971,45.49,Rural
248,Punjab,31-10-2019,Monthly,12.56,6021921,45.66,Rural

In [ ]:
df.shape

(249, 7)

In [ ]:
df=df.dropna()
df.shape

(249, 7)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 248
Data columns (total 7 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Region                                    249 non-null    object
 1    Date                                     249 non-null    object
 2    Frequency                                249 non-null    object
 3    Estimated Unemployment Rate (%)          249 non-null    float64
 4    Estimated Employed                       249 non-null    int64
 5    Estimated Labour Participation Rate (%)  249 non-null    float64
 6   Area                                      249 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 15.6+ KB

In [ ]:
df.describe()

,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%)
count,249.000000,2.490000e+02,249.000000
mean,10.017871,8.366100e+06,43.173133
std,9.942827,7.163131e+06,7.483250
min,0.000000,4.942000e+04,13.330000
25%,3.700000,2.024409e+06,39.020000
50%,6.640000,6.753622e+06,42.190000
75%,13.680000,1.275613e+07,45.600000
max,74.510000,2.683539e+07,69.660000

In [ ]:
x=df['Region']
x

0

In [ ]:
df=df.isnull().sum()
df

Region                                      0
 Date                                       0
 Frequency                                  0
 Estimated Unemployment Rate (%)            0
 Estimated Employed                         0
 Estimated Labour Participation Rate (%)    0
Area                                        0
dtype: int64

In [ ]:
df[' Date'] = pd.to_datetime(df[' Date'])

In [ ]:
from datetime import datetime
dt=datetime.now()

In [ ]:
ts=datetime.timestamp(dt)

In [ ]:
print(ts)

1677429456.320659

In [ ]:
from datetime import datetime

# current dateTime
now = datetime.now()

# convert to string
date_time_str = now.strftime("%Y-%m-%d %H:%M:%S")
print('DateTime String:', date_time_str)

DateTime String: 2023-02-26 16:37:43

In [ ]:
data.columns= ["Region","Date","Frequency",
               "Estimated Unemployment Rate (%)",
               "Estimated Employed",
               "Estimated Labour Participation Rate (%)",
               "Region","longitude","latitude"]